.nav-search-section {
  background-color: #403d39;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.search-bar-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.plugin-search-input {
  height: 30px;
  border-radius: 4px;
  border: none;
}

.plugin-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plugin-data-container {
  width: 50%;
  height: 500px;
  color: #403d39;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.plugin-header-container {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
}

.plugin-body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  height: 240px;
}

.plugin-footer {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  height: 400px;
}
