.nav-search-section {
  background-color: #403d39;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.search-bar-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.plugin-search-input {
  height: 30px;
  border-radius: 4px;
  border: none;
}

.plugin-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plugin-data-container {
  width: 50%;
  height: 500px;
  color: #403d39;
  border: 1px solid green;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
