@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: metapluginfont;
  src: url("./assets/fonts/Lato-Regular.ttf");
}

body {
  margin: 0;
  color: black;
  background-color: white;
  font-family: metapluginfont;
}


li {
  height: max-content;
  width: max-content;
  
}

.logo {
  width: 150px;
}

.link {
  font-weight: 600;
  font-size: larger;
}

.link:hover {
  color: #92908d;
  cursor: pointer;
}


.nav-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
}

@media only screen and (max-width: 600px) {
  .nav-inner {
    justify-content:center;
    row-gap: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .nav-inner {
    justify-content:center;
  }
}

@media only screen and (max-width: 956px) {
  .nav-inner {
    justify-content:center;
  }
}

@media only screen and (max-width: 500px) {
  .nav-inner {
    justify-content:center;
  }
}


.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
}

.nav-logo-container {
  cursor: pointer;
}


.plugin-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 25px;
}

.plugin-item {
  width: 240px;
  height: 300px;
  padding: 2px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  color: #252422;
}

.plugin-item:hover {
  cursor: pointer;
}

.plugin-item-head {
  height: 50%;
  display: flex;
  border: 1px solid #ccc5b9;
  column-gap: 5px;
  justify-content: center;
}

.plugin-image-container {
  display: flex;
  align-items: center;
}

.plugin-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  image-rendering: pixelated;
  object-fit: cover;
}

.plugin-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 3px;
}

.plugin-about-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plugin-about-header {
  font-weight: 600;
  font-size: 16px;
}

.plugin-about-author {
  color: #75726c;
}

.plugin-author {
  color: #0073aa;
}

.plugin-item-foot {
  height: 50%;
  border: 1px solid #ccc5b9;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #252422;
  padding-left: 10px;
}

.nav-search-section {
  display: flex;

}

.search-bar-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.plugin-search-input {
  height: 30px;
  border-radius: 4px;
  border: none;
}
