@font-face {
  font-family: metapluginfont;
  src: url("./assets/fonts/Lato-Regular.ttf");
}

body {
  margin: 0;
  background-color: #fffcf2;
  color: #fffcf2;
  font-family: metapluginfont;
}

li {
  height: max-content;
  width: max-content;
  padding: 10px;
}

.link:hover {
  background-color: #333230;
  cursor: pointer;
}

.upload-btn {
  background-color: #eb5e28;
  border-radius: 4px;
}

.upload-btn:hover {
  cursor: pointer;
  background-color: #e95115;
}

.nav-container {
  background-color: #252422;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.nav-logo-container {
  width: 182px;
  height: 60px;
  background-color: #403d39;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-container {
  list-style: none;
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}

.plugin-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 25px;
}

.plugin-item {
  width: 240px;
  height: 300px;
  padding: 2px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  color: #252422;
}

.plugin-item-head {
  height: 50%;
  display: flex;
  border: 1px solid #ccc5b9;
  column-gap: 5px;
  justify-content: center;
}

.plugin-image-container {
  display: flex;
  align-items: center;
}

.plugin-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  image-rendering: pixelated;
}

.plugin-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 3px;
}

.plugin-about-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plugin-about-header {
  font-weight: 600;
  font-size: 16px;
}

.plugin-about-author {
  color: #75726c;
}

.plugin-author {
  color: #0073aa;
}

.plugin-item-foot {
  height: 50%;
  border: 1px solid #ccc5b9;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #252422;
  padding-left: 10px;
}

.nav-search-section {
  background-color: #403d39;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.search-bar-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.plugin-search-input {
  height: 30px;
  border-radius: 4px;
  border: none;
}
